# CODEOWNERS - Responsible for code review

# Project Maintainers
* @guardiatechnology/guardians

# Documentation
docs/ @guardiatechnology/guardians

# Source Code
src/ @guardiatechnology/guardians

# Configuration and Infrastructure
.github/ @guardiatechnology/guardians

# Políticas e Governança
GOVERNANCE and COMPLIANCE @guardiatechnology/governance
SECURITY @guardiatechnology/security
CODE_OF_CONDUCT @guardiatechnology/compliance